body {
  font-family: Arial;
  background-color: rgb(175, 228, 175);
}

h1 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
  text-align: center;
}

#navigation > a {
  color: rgb(7, 7, 7);
  margin-left: 50pt;
  font-size: xx-large;
  text-align: center;
}

#main {
  color: rgb(0, 0, 0);
  border: double;
  border-width: 5px;
  border-color: #000000;
  border-radius: 10px;
  padding: 10pt 5pt;
  text-align: center;
}
